@import url('base.css');
/* 关于我开始 */
/* body{
	height: 3000px;
} */
.about-section{
	height: auto;
	overflow: hidden;
	padding: 90px 0px;
}
.about-left img {
	display: block;
	width: 100%;
	height: 100%;
}
.about-right{
	padding-top: 4px;
}
.about-right>span{
	display: block;
	font-size: 20px;
	margin-bottom: 35px;
}
.about-right>p{
    line-height: 27px;
    font-size: 16px;
    color: #888896;
}
.about-item{
	margin-top: 30px;
	position: relative;
}
.about-item h4{
	display: block;
	margin-bottom: 9px;
	font-size: 14px;
	color: #000;
}
.about-item div:first-of-type{
	display: block;
	width: 100%;
	height: 10px;
	background: #d6d6d6;
	border-radius: 5px;
}
.about-item div:first-of-type div{
	display: block;
	width: 80%;
	height: 10px;
	background: #000;
	border-radius: 5px;
}
.about-item:nth-of-type(2) div div{
	width: 90%;
}
.about-item:nth-of-type(3) div div{
	width: 75%;
}
.about-item:nth-of-type(4) div div{
	width: 93%;
}
.about-item:nth-of-type(5) div div{
	width: 85%;
}
.about-item span{
	display: block;
	font-size: 14px;
	color: #333333;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin-left: 80%;
}
.about-item:nth-of-type(2) span{
    margin-left: 90%;
}
.about-item:nth-of-type(3) span{
    margin-left: 75%;
}
.about-item:nth-of-type(4) span{
    margin-left: 93%;
}
.about-item:nth-of-type(5) span{
    margin-left: 85%;
}

/* 关于我结束 */
/* 四张图片开始 */
.pic{
	margin-bottom: 75px;
	background: #f6f6f6;

}
/* .pic div ul li{
	padding: 90px 0;
} */
.pic div ul li div{
	width: 40px;
	height: 40px;
	/* background: pink; */
	margin: 0 auto;
	text-align: center;
	line-height: 35px;
	font-size: 30px;
	transition: all 1.5s;
}
.pic div ul li div:hover{
	border: 2px solid #000;
    
}
.pic div ul li span{
	display: block;
	font-size: 16px;
	color: #000;
	margin: 10px auto;
	text-align: center;
}
.pic div ul li p{
	display: block;
	font-size: 16px;
	color: #888888;
	text-align: center;
}
/* 四张图片结束 */
/* 文字开始 */
/* .word{
	width: 100%;
} */
.word h5{
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 40px;
}
.word p,.clints p,.latest p,.get-in p{
	display: block;
	margin: 0 auto;
	font-size: 16px;
	color: #666666;
	text-align: center;
	line-height: 30px;
}
.word div{
	width: 320px;
	height: 15px;
	margin: 30px auto;
	/* background: red; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.word div a{
	display: block;
	padding-right: 15px;
	/* width: 25%; */
	height: 100%;
	font-size: 12px;
	color: #110;
}
.word div a:last-child{
	padding-right: 0px;

}
/* 文字结束 */
/* 六张图片开始 */
.six{
margin-bottom: 90px;
}
.top-box{
	position: relative;
}
.bottom-box{
	position: relative;
}
.top-img{
   display: block;
   width: 100%;
   height: 100%;
   perspective:1000px;
}
.bottom-img{
	display: block;
   width: 100%;
   height: 100%;
}
.zhezhao{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	perspective:1000px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.zhezhao a{
	 display: block;
	 width: 50px;
	 height: 50px;
	 background: #fff;
	 color: #666;
	 text-align: center;
     line-height: 50px;
     transform-style: preserve-3d;
	  position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
}
.top-box:hover .zhezhao,.bottom-box:hover .zhezhao{
	opacity: 1;
	transition: all 1.5s;
}
.top-box:hover .zz,.bottom-box:hover .zz{
	transform :rotate3d(0,1,0 180deg);
	transition: all 2s;
}
/* 六张图片结束 */

/* CLINTS开始 */
.clints{
	background: #f6f6f6;
	padding: 90px 0;
	margin-bottom: 90px;

}
.clints span,.latest span,.get-in span{
	display: block;
	margin: 0 auto;
	font-size: 20px;
	color: #000;
	text-align: center;
}
.clints p{
    display: block;
	margin-bottom: 45px;
}
/* CLINTS开始 */
.clints-img div ul{
	/* width: 100%; */
	height: 80px;
	overflow: hidden;
	margin: 0 auto;
	/* position: relative; */
	/* background: red; */
	/* display: flex;
	justify-content: center; */
}

.clints-img div ul li a{
	float: left;
	display: block;
	width: 160px;
	height: 93px;
	margin: 0 auto;
	/* overflow: hidden; */
	/* position: absolute; */

}
.clints-img div ul li:nth-child(1)~li a{
  flex-basis: 160px 93px;
}
.clints-img div ul li a img{
	display: block;
	width: 100%;
	height: 100%;
}	
/* LATEST BLOGS开始 */
.latest-img{
	margin-top: 34px;	
}
.latest-img div ul li{
	padding: 15px;

}
.latest-img  div ul li a{
	display: block;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}
.latest-img  div ul li a img{
	display: block;
	width: 100%;
	height: 100%;
}
.latest-img  div ul li a h8{
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	color: #000;
	padding-left: 5px;
}
 .latest-img  div ul li a h7{
 	display: block;
	font-size: 14px;
	color: #666;
	line-height: 25px;
	padding-left: 5px;
}
.latest-img  div ul li a>h6{
	font-size: 10px;
	color: #888;
	line-height: 20px;
	padding-left: 5px;
}
.anniu{
	display: block;
	margin: 45px auto;
	border: 2px solid #000;
	background: #fff;
	width: 167px;
	height: 50px;
	border-radius: 25px;
	font-size: 12px;
	color: #000;
	text-align: center;
	line-height:46px;

}
.anniu:hover{
	background: #000;
	color: #fff;
	transition: all 2s;
}
/* LATEST BLOGS结束 */
/* GET IN TOUCH 开始 */
.get-in{
	background: #f6f6f6; 
	padding-top: 90px;
}
.get-in p{
	margin-bottom: 30px;
}
/* GET IN TOUCH 结束 */

/* class=".col-lg-2 .col-md-3 .col-sm-4 .col-xs-6" */




@media screen and (max-width:768px){
	.about-left{
		margin-bottom: 40px;
	}
	.pic div ul li:nth-of-type(1){
		padding-top: 90px;
	}
	.pic div ul li:nth-of-type(1)~li{
		padding-top: 45px;
	}
	.pic div ul li:nth-of-type(4){
		padding-bottom: 90px;
	}
	.pic div ul li p{
		padding: 0 75px;
	}
	.word p,.clints p,.latest p,.get-in p{
		padding-left: 30px;
		padding-right: 30px;
	}
	.top-img,.bottom-img{
		margin-bottom: 30px;
	}
	.clints-img div ul{
		padding-left: 70px;
	}

}

@media screen and (max-width:992px) and (min-width:768px){
	.about-left{
		margin-bottom: 40px;
	}
	.pic div ul li p{
		padding: 0 40px;
	}
	.pic div ul li:nth-of-type(1),.pic div ul li:nth-of-type(2){
		padding: 90px 0 0 0;
	}
	.pic div ul li:nth-of-type(2)~li{
		padding: 45px 0 90px 0;
	}
	.word p,.clints p,.latest p,.get-in p{
		width: 600px;
	}
	.top-img{
		margin-bottom: 30px;
	}
	.latest-img div ul li{
	     padding-left: 0;
	     padding-right: 0;
	}
	.clints-img div ul{
		padding-left: 35px;
	}
}
/* PC小屏  col-md-*/
@media screen and (max-width:1200px) and (min-width:992px){
   .pic div ul li p{
		padding: 0 18px;
	}
	.pic div ul li{
		padding: 90px 0;
	}
	.word p,.clints p,.latest p,.get-in p{
		width: 600px;
	}
	.top-img{
		margin-bottom: 30px;
	}
	.clints-img div ul{
		padding-left: 35px;
	}
/* 	.latest-img div ul li{
	     padding-left: 0;
	     padding-right: 0;
	} */
}
/* PC大屏  .col-lg-*/
@media screen and (min-width:1200px){
	.pic div ul li p{
		padding: 0 18px;
	}
	.pic div ul li{
		padding: 90px 0;
	}
	.word p,.clints p,.latest p,.get-in p{
		width: 600px;
	}
	.top-img{
		margin-bottom: 30px;
	}
	.clints-img div ul{
		padding-left: 35px;
	}

}